@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.divider{
    height: .25rem;
    width: 20rem;
    background-color: #F67381;
}
.section-title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: block;

    display: flex;
    align-items: center;
    justify-content: center;
}